<section id="precios" class="pricing">
    <div class="container">
      
      <div class="section-header">
          <h2 class="section-title">Planes y Precios</h2>
          <p class="section-subtitle">
          Elige el plan que mejor se adapte a tus objetivos y presupuesto
          </p>
      </div>

      <div class="pricing-grid">
          <shared-card-plan *ngFor="let plan of pricingPlans" [plan]="plan"></shared-card-plan>
      </div>

      <shared-payment-methods [selectable]="false" [showCard]="true"></shared-payment-methods>

    </div>
</section>
