<shared-header></shared-header>
<main>
  <section id="plan" class="plan">
    <div class="container">
      <div class="plan-grid">
        <shared-card-plan  [plan]="plan"></shared-card-plan>

        <div class="plan-content">
          <h3 class="plan-title">{{ plan.name }}</h3>
          <p class="plan-description">{{ plan.description }}</p>
          <p class="plan-fullDescription">{{ plan.fullDescription }}</p>
          <p class="plan-price">${{ plan.price | number:'1.0-0' }}</p>
          <p class="plan-duration">Duración: {{ plan.duration }}</p>
          <p class="plan-maxStudents">Máx. {{ plan.sessionsPerWeek }} {{ plan.sessionsPerWeek === 1 ? 'clase' : 'clases' }} por semana</p>

          <button class="plan-btn" (click)="addToCart(plan)">Agregar al carro</button>
        </div>
      </div>
    </div>

  </section>

</main>
<shared-footer></shared-footer>

