<shared-header></shared-header>
<main>

  <section id="product" class="product">
    <div class="container">

      <div class="product-grid">

        <div style="display: flex; justify-content: center; align-items: center;">
          <shared-card-service [service]="service"></shared-card-service>
        </div>

        <div class="product-content">
          <h3 class="product-title">{{ service.name }}</h3>
          <p class="product-description">{{ service.fullDescription }}</p>
          <p class="product-duration"><b>Duración:</b> {{ service.duration }}</p>
          <p class="product-maxStudents"><b>Máx.:</b> {{ service.maxStudents }} {{ service.maxStudents === 1 ? 'estudiante' : 'estudiantes' }}</p>
          <p class="product-level"><b>Nivel:</b> {{ service.level }}</p>

          <button class="product-btn" (click)="scrollToSection($event, 'precios')">Ver planes disponibles</button>
        </div>

      </div>

      <div class="schedule-grid">
        <home-schedule [scheduleServices]="[service.name]"></home-schedule>
      </div>
    </div>
  </section>

</main>
<shared-footer></shared-footer>
