main {
  flex: 1;
}

.product {
  padding: 6rem 0;
  background: linear-gradient(135deg, #f8fafc, #e2e8f0);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.schedule-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Importante */
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.product-image {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.1);
}

.product-content {
  padding: 1rem;
}

.product-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0e7490;
  margin-bottom: 1rem;
}

.product-description {
  color: #64748b;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;

}

.product-btn {
  width: 100%;
  background: linear-gradient(135deg, #0891b2, #0e7490);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-btn:hover {
  background: linear-gradient(135deg, #0e7490, #155e75);
  transform: translateY(-2px);
}

.product-duration {
  margin-bottom: 1rem;
  color: #64748b;
  font-size: 0.9rem;
}

.product-level {
  margin-bottom: 1rem;
  color: #64748b;
  font-size: 0.9rem;
}

.product-maxStudents {
  margin-bottom: 1rem;
  color: #64748b;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .product {
    padding: 4rem 0;
  }

  .product-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .product-content {
    padding: 1.5rem;
  }

  .product-duration {
    margin-bottom: 1rem;
  }

  .product-level {
    margin-bottom: 1rem;
  }

  .product-maxStudents {
    margin-bottom: 1rem;
  }
}
